.aboutSection {
  padding: 4rem 0.2rem;
  width: 90%;
  margin: auto;
}

.aboutSection .sectionTitle{
   font-size: 40px;
   text-transform:uppercase;
   position: relative;
   margin-bottom: 5rem;
   cursor:default;
   text-align: center;
}

.aboutSection .sectionTitle::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 4px;
    width: 10%;
    margin: auto;
    text-align: center;
    transition: all 1s ease-in-out;
    transform: translateY(.8rem);
}

.aboutSection .sectionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.aboutSection .imgCon {
  width: 50%;
  height: 500px;
}

.aboutSection .imgCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.aboutSection .content {
  width: 50%;
}

.aboutSection .content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.aboutSection .content h4 {
  font-size: 1.1rem;
  color: #6b7280;
  margin-bottom: 0.8rem;
}

@media (max-width: 1024px) {
  .aboutSection .sectionContent {
    flex-direction: column;
    text-align: start;
    padding: 2rem 1rem;
  }

  .aboutSection .imgCon,
  .aboutSection .content {
    width: 100%;
  }

  .aboutSection .imgCon img {
    max-width: 100%;
  }

  .aboutSection .content h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .aboutSection .content h4 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .aboutSection .sectionTitle{
    font-size: 22px;
    margin: 0 0 2rem 0;
  }

  .aboutSection .sectionTitle::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 4px;
    width: 30% !important;
    margin: auto;
    text-align: center;
    transition: all 1s ease-in-out;
    transform: translateY(.8rem);
  }

  .aboutSection .content h1 {
    font-size: 1.5rem;
  }

  .aboutSection .content h4 {
    font-size: 0.95rem;
  }

  .aboutSection .imgCon,
  .aboutSection .content {
    width: 100%;
  }

  .aboutSection .imgCon img {
    max-width: 100%;
  }
}
