.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 10%;
  margin: auto;
}

.contact h2{
   font-size: 40px;
   text-transform:uppercase;
   position: relative;
   margin-bottom: 5rem;
   cursor:default;
}

.contact h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 4px;
    width: 20%;
    margin: auto;
    text-align: center;
    transition: all 1s ease-in-out;
    transform: translateY(.8rem);
}

.contact .contactInputs,.contactTextarea,.contactButton{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 60%;
  gap: .5rem;
}

.contactInputs input{
  height: 30px;
}

.contactTextarea textarea{
  height: 100px;
  resize: none;
  border-radius: 9px;
  padding: .6rem;
  width: 100%;
  background-color: transparent;
  overflow-y: scroll;
  outline: none;
}

.contactButton .contact-Btn{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  gap:.7rem;
  border: none;
  font-weight: 800;
}

@media screen and (max-width:500px) {
  .contact{
    padding: 0 0 2rem 0;
    gap: .3rem;
  }

  .contact  h2{
    font-size: 1.8rem;
    text-align: center;
  }

  .contactInputs input{
    margin: 0 !important;
    transform: translateY(0);
  }

  .contactInputs .last{
    display: none;
  }

}