.header {
  background-color: #f8f5f5;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  width: 95%;
  z-index: 100;
  border-radius: none;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0 auto;
  transition: all 1s ease-in-out;
}

.header.scrolled {
  background-color: rgb(177, 173, 173);
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  color: white;
}

.header .headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  max-width: 1200px;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Audiowide', sans-serif;
    font-style: italic;
    cursor: pointer;
}

.two{
    color:rgb(85, 85, 85);
    font-weight: 900;
}

.play{
    color: gray;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transform: translateY(.3rem);
    transition: 0.5s ease-in-out;
}

.nav-links a.scrolled::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transform: translateY(.3rem);
    transition: 0.5s ease-in-out;
}

.nav-links a:hover::after{
    width: 100%;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login-btn {
  border: 2px solid transparent;
  background: transparent;
  color: gray;
}

.login-btn.scrolled {
  border-color: #000;
  color: #1f2937;
}

.signup-btn {
  background-color: transparent;
  color: #1f2937;
  border: 2px solid transparent;
}

.signup-btn.scrolled {
  background-color: #000;
  color: white;
  border: none;
}

.mobile{
    display: none;
}
.hiddenNav{
    display: none;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .header{
    width: 100%;
    position: relative;
  }
  .header.open{
    height: 230px;
    transition: all 1s ease-in-out;
  }
  .container{
    gap: 1rem;
  }
  .logo{
    width: 50%;
  }
  .auth-buttons{
    display: none;
  }
  .mobile{
    display: flex;
  }
  .mobile button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
  }
  .hiddenNav.open{
    position: absolute;
    bottom: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    text-align: center;
    padding: 2rem 0;
    font-weight: 600;
  }
  .hiddenNav.close{
    display: none;
  }
}